body {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    font-family: sans-serif
}

.calculator {
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.display {
    width: 550px;
    height: 200px;
    background-color: rgb(33, 36, 61);
    border-radius: 25px 25px 0 0;
    display: flex;
    justify-content: end;
    align-items: end;
    color: white;
    font-size: 80px;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 800px;
    border-radius: 25px;
}

.row {
    display: flex;
    justify-content: space-evenly;
}

.button {
    background-color: rgba(207, 202, 202, 1);
    width: 137.5px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    border: 1px solid rgb(33, 36, 61);
    color: white
    ;
}

.dark {
    background-color:rgba(112, 114, 132, 1);
}

.orange {
    background-color:rgba(239, 153, 23, 1);
}



.roundl {
    border-radius: 0 0 0 25px;
    width: 275px;   
}

.roundr {
    
    border-radius: 0 0 25px 0;
      
}

